@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  opacity: 0.5;
  background: var(--other-overlay-50, #000);
  padding: 36px 0;
  z-index: 100;
}
.header .container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header .container .navigation #navbar-open {
  display: none;
}
.header .container .navigation .navigation-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.header .container .navigation .navigation-right-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.header .container .navigation .navigation-right-btn__btns {
  border-radius: 8px;
  padding: 12px 32px;
  border: 1px solid var(--Text-Tittle, #f6f9fd);
  color: var(--Text-Tittle, #ffffff);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.header .container .navigation .navigation-right-btn__btns:hover {
  background-color: #f72585;
  color: #fff;
  border: none;
}
.header .container .navigation .navigation-right-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  position: relative;
}
.header .container .navigation .navigation-right-one:hover .dropdown-menu {
  display: block;
  position: fixed;
}
.header .container .navigation .navigation-right-one .dropdown-menu {
  position: absolute;
  background-color: rgb(228, 124, 124);
  top: 65px;
  display: none;
  width: 200px;
  height: 250px;
}
.header .container .navigation .navigation-right-one .dropdown-menu:hover {
  display: block;
}
.header .container .navigation .navigation-right-one .dropdown-menu-link {
  padding: 10px;
  display: block;
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border-bottom: 1px solid white;
  width: 90%;
}
.header .container .navigation .navigation-right-one .dropdown-menu-link:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .container .navigation .navigation-right-one-link__second__a {
  color: white;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 32px;
}
.header .container .navigation .navigation-right-one-link__second__a:hover {
  color: rgb(22, 23, 26);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .container .navigation .navigation-right-one-link__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .navigation .navigation-right-one-link__one__a {
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}
.header .container .navigation .navigation-right-one-link__one__a:hover {
  color: rgb(22, 23, 26);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .container .navigation .navigation-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.header .container .navigation .navigation-left__input {
  padding: 12px;
  width: 443px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--Text-In-Field, #ccc);
  background: url("../../assets/images/home-img/Search.svg") no-repeat;
  background-position: right;
}

@media (max-width: 1250px) {
  .header .container .navigation #navbar-open {
    display: inline-block;
  }
  .header .container .navigation .navigation-left {
    display: none;
  }
  .header .container .navigation .navigation-right {
    display: none;
  }
}
#backtop {
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  background-color: red;
  bottom: -50px;
  right: 50px;
  border-radius: 5px;
}
#backtop a {
  padding: 10px;
  display: block;
}

#backtop.backtop-show {
  bottom: 50px;
  z-index: 100;
}

#navbar-responsive {
  z-index: 900;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  background: url(../../assets/images/bg-2-nav.avif) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#navbar-responsive #navbar-close {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 8px;
  border-radius: 4px;
}
#navbar-responsive #navbar-close img {
  width: 40px;
}
#navbar-responsive #navbar-close:hover {
  background-color: wheat;
}
#navbar-responsive .navigation-responsive-right-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  gap: 12px;
}
#navbar-responsive .navigation-responsive-right-btn__btns {
  border-radius: 8px;
  padding: 12px 32px;
  border: 1px solid var(--Text-Tittle, #1c3554);
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
#navbar-responsive .navigation-responsive-right-btn__btns:hover {
  background-color: #f72585;
  color: #fff;
  border: none;
}
#navbar-responsive .navigation-responsive-right-one-link__second {
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 32px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4e8fdb;
}
#navbar-responsive .navigation-responsive-right-one-link__second a {
  color: white;
}
#navbar-responsive .navigation-responsive-right-one-link__second:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#navbar-responsive .navigation-responsive-right-one-link__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  line-height: 32px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4e8fdb;
  margin-bottom: 50px;
}
#navbar-responsive .navigation-responsive-right-one-link__one a {
  color: white;
}
#navbar-responsive .navigation-responsive-right-one-link__one:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#navbar-responsive .navigation-responsive-left__input {
  padding: 12px;
  max-width: 100%;
  width: 260px;
  outline: none;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 8px;
  border: 1px solid var(--Text-In-Field, #ccc);
  background: url("../../assets/images/home-img/Search.svg") no-repeat;
  background-position: right;
  margin-bottom: 100px;
}

.hero {
  margin-top: 129.8px;
  width: 100%;
  min-height: 440px;
  opacity: 0.5;
  background: var(--other-overlay-50, #000);
}
.hero .container .hero-title {
  color: var(--Text-white, #fff);
  /* Heading/Bold/H2 - 64px */
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 137.5% */
  max-width: 366px;
}
.hero .container .hero-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.hero .container .hero-link .hero-link-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  margin-bottom: 64px;
}
.hero .container .hero-link .hero-link-content__a {
  color: var(--Text-Disable, #e6e6e6);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.hero .container .hero-link .hero-link-content__a__link {
  color: var(--Text-Disable, #e6e6e6);
  /* Paragraph/Semibold/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

.carousel {
  margin-top: 96px;
}
.carousel .container .carousel-img {
  text-align: center;
  margin-top: 70px;
}
.carousel .container .carousel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.carousel .container .carousel-card-imgs__img img {
  width: 100%;
}
.carousel .container .carousel-card-content .title-4 {
  margin-top: 60px;
}
.carousel .container .carousel-card-content .title-3 {
  margin-top: -30px;
}
.carousel .container .carousel-card-content__description .title-2 {
  margin-top: 10px;
}
.carousel .container .carousel-card-content__description .title {
  margin-top: 120px;
}
.carousel .container .carousel-card-content__description__btn {
  padding: 12px 32px;
  color: var(--Text-white, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border-radius: 8px;
  background: var(--Primary-Pink, #f72585);
}
.carousel .container .carousel-card-content__description__btn:hover {
  background-color: white;
  color: #f72585;
  border: 1px solid #f72585;
}
.carousel .container .carousel-card-content__description__p {
  color: var(--Text-Body, #808080);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 552px;
  margin-bottom: 40px;
}
.carousel .container .carousel-card-content__description__title {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
  max-width: 552px;
}
.carousel .container .carousel-card-content__description__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.carousel .container .carousel-card-content__description__flex__item {
  color: var(--Text-Body, #808080);
  /* Paragraph/Semibold/Caption - 14px */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.carousel .container .carousel-card-content__description__flex img {
  width: 8px;
  height: 8px;
}
.carousel .container .carousel-card-imgs__img img {
  margin-bottom: 56px;
}

@media (max-width: 500px) {
  .hero .container .hero-title {
    text-align: center;
  }
  .carousel .container .carousel-card {
    text-align: center;
  }
  .carousel .container .carousel-card .carousel-card-content .carousel-card-content__description .carousel-card-content__description__flex {
    margin-left: 50px;
  }
}
.footer {
  padding-top: 150px;
}
.footer .container {
  padding: 80px 103px 40px 68px;
  border-radius: 8px;
  background: var(--Other-Navy, #021934);
}
.footer .container .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 132px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .container .footer-section__link {
  margin-bottom: 80px;
}
.footer .container .footer-section__link__a1 {
  margin-bottom: 8px;
}
.footer .container .footer-section__link__a1__link {
  color: var(--Text-white, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.footer .container .footer-section__link__a1__link:hover {
  color: bisque;
}
.footer .container .footer-section__link__a {
  margin-bottom: 24px;
}
.footer .container .footer-section__link__a__link {
  color: var(--Text-white, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.footer .container .footer-section__left__p {
  color: var(--Text-white, #fff);
  max-width: 550px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 150px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-bottom__a1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.footer-bottom__a1__a {
  margin-bottom: 30px;
}
.footer-bottom__a1__a__b {
  color: var(--Text-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .footer .container .footer-section .footer-section__left .footer-section__left__p {
    text-align: center;
  }
}