@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  padding: 36px 0;
  z-index: 100;
}
.header .container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header .container .navigation #navbar-open {
  display: none;
}
.header .container .navigation .navigation-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.header .container .navigation .navigation-right-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.header .container .navigation .navigation-right-btn__btns {
  border-radius: 8px;
  padding: 12px 32px;
  border: 1px solid var(--Text-Tittle, #1c3554);
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.header .container .navigation .navigation-right-btn__btns:hover {
  background-color: #f72585;
  color: #fff;
  border: none;
}
.header .container .navigation .navigation-right-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  position: relative;
}
.header .container .navigation .navigation-right-one:hover .dropdown-menu {
  display: block;
  position: fixed;
}
.header .container .navigation .navigation-right-one .dropdown-menu {
  position: absolute;
  background-color: rgb(228, 124, 124);
  top: 65px;
  display: none;
  width: 200px;
  height: 250px;
}
.header .container .navigation .navigation-right-one .dropdown-menu:hover {
  display: block;
}
.header .container .navigation .navigation-right-one .dropdown-menu-link {
  padding: 10px;
  display: block;
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border-bottom: 1px solid white;
  width: 90%;
}
.header .container .navigation .navigation-right-one .dropdown-menu-link:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .container .navigation .navigation-right-one-link__second__a {
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-weight: 400;
  line-height: 32px;
}
.header .container .navigation .navigation-right-one-link__second__a:hover {
  color: rgb(22, 23, 26);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .container .navigation .navigation-right-one-link__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .navigation .navigation-right-one-link__one__a {
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}
.header .container .navigation .navigation-right-one-link__one__a:hover {
  color: rgb(22, 23, 26);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .container .navigation .navigation-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.header .container .navigation .navigation-left__input {
  padding: 12px;
  width: 443px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--Text-In-Field, #ccc);
  background: url("../../assets/images/home-img/Search.svg") no-repeat;
  background-position: right;
}

@media (max-width: 1250px) {
  .header .container .navigation #navbar-open {
    display: inline-block;
  }
  .header .container .navigation .navigation-left {
    display: none;
  }
  .header .container .navigation .navigation-right {
    display: none;
  }
}
#backtop {
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  background-color: red;
  bottom: -50px;
  right: 50px;
  border-radius: 5px;
}
#backtop a {
  padding: 10px;
  display: block;
}

#backtop.backtop-show {
  bottom: 50px;
  z-index: 100;
}

#navbar-responsive {
  z-index: 900;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  background: url(../../assets/images/bg-2-nav.avif) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#navbar-responsive #navbar-close {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 8px;
  border-radius: 4px;
}
#navbar-responsive #navbar-close img {
  width: 40px;
}
#navbar-responsive #navbar-close:hover {
  background-color: wheat;
}
#navbar-responsive .navigation-responsive-right-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  gap: 12px;
}
#navbar-responsive .navigation-responsive-right-btn__btns {
  border-radius: 8px;
  padding: 12px 32px;
  border: 1px solid var(--Text-Tittle, #1c3554);
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
#navbar-responsive .navigation-responsive-right-btn__btns:hover {
  background-color: #f72585;
  color: #fff;
  border: none;
}
#navbar-responsive .navigation-responsive-right-one-link__second {
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 32px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4e8fdb;
}
#navbar-responsive .navigation-responsive-right-one-link__second a {
  color: white;
}
#navbar-responsive .navigation-responsive-right-one-link__second:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#navbar-responsive .navigation-responsive-right-one-link__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  line-height: 32px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4e8fdb;
  margin-bottom: 50px;
}
#navbar-responsive .navigation-responsive-right-one-link__one a {
  color: white;
}
#navbar-responsive .navigation-responsive-right-one-link__one:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#navbar-responsive .navigation-responsive-left__input {
  padding: 12px;
  max-width: 100%;
  width: 260px;
  outline: none;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 8px;
  border: 1px solid var(--Text-In-Field, #ccc);
  background: url("../../assets/images/home-img/Search.svg") no-repeat;
  background-position: right;
  margin-bottom: 100px;
}