@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  background-color: rgb(134, 98, 58);
  padding: 36px 0;
  z-index: 100;
}
.header .container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header .container .navigation #navbar-open {
  display: none;
}
.header .container .navigation .navigation-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.header .container .navigation .navigation-right-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.header .container .navigation .navigation-right-btn__btns {
  border-radius: 8px;
  padding: 12px 32px;
  border: 1px solid var(--Text-Tittle, #f6f9fd);
  color: var(--Text-Tittle, #ffffff);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.header .container .navigation .navigation-right-btn__btns:hover {
  background-color: #f72585;
  color: #fff;
  border: none;
}
.header .container .navigation .navigation-right-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  position: relative;
}
.header .container .navigation .navigation-right-one:hover .dropdown-menu {
  display: block;
  position: fixed;
}
.header .container .navigation .navigation-right-one .dropdown-menu {
  position: absolute;
  background-color: rgb(228, 124, 124);
  top: 65px;
  display: none;
  width: 200px;
  height: 250px;
}
.header .container .navigation .navigation-right-one .dropdown-menu:hover {
  display: block;
}
.header .container .navigation .navigation-right-one .dropdown-menu-link {
  padding: 10px;
  display: block;
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border-bottom: 1px solid white;
  width: 90%;
}
.header .container .navigation .navigation-right-one .dropdown-menu-link:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .container .navigation .navigation-right-one-link__second__a {
  color: white;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 32px;
}
.header .container .navigation .navigation-right-one-link__second__a:hover {
  color: rgb(22, 23, 26);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .container .navigation .navigation-right-one-link__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .navigation .navigation-right-one-link__one__a {
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}
.header .container .navigation .navigation-right-one-link__one__a:hover {
  color: rgb(22, 23, 26);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .container .navigation .navigation-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.header .container .navigation .navigation-left__input {
  padding: 12px;
  width: 443px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--Text-In-Field, #ccc);
  background: url("../../assets/images/home-img/Search.svg") no-repeat;
  background-position: right;
}

@media (max-width: 1250px) {
  .header .container .navigation #navbar-open {
    display: inline-block;
  }
  .header .container .navigation .navigation-left {
    display: none;
  }
  .header .container .navigation .navigation-right {
    display: none;
  }
}
#backtop {
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  background-color: red;
  bottom: -50px;
  right: 50px;
  border-radius: 5px;
}
#backtop a {
  padding: 10px;
  display: block;
}

#backtop.backtop-show {
  bottom: 50px;
  z-index: 100;
}

#navbar-responsive {
  z-index: 900;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  background: url(../../assets/images/bg-2-nav.avif) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#navbar-responsive #navbar-close {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 8px;
  border-radius: 4px;
}
#navbar-responsive #navbar-close img {
  width: 40px;
}
#navbar-responsive #navbar-close:hover {
  background-color: wheat;
}
#navbar-responsive .navigation-responsive-right-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  gap: 12px;
}
#navbar-responsive .navigation-responsive-right-btn__btns {
  border-radius: 8px;
  padding: 12px 32px;
  border: 1px solid var(--Text-Tittle, #1c3554);
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
#navbar-responsive .navigation-responsive-right-btn__btns:hover {
  background-color: #f72585;
  color: #fff;
  border: none;
}
#navbar-responsive .navigation-responsive-right-one-link__second {
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 32px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4e8fdb;
}
#navbar-responsive .navigation-responsive-right-one-link__second a {
  color: white;
}
#navbar-responsive .navigation-responsive-right-one-link__second:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#navbar-responsive .navigation-responsive-right-one-link__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  line-height: 32px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4e8fdb;
  margin-bottom: 50px;
}
#navbar-responsive .navigation-responsive-right-one-link__one a {
  color: white;
}
#navbar-responsive .navigation-responsive-right-one-link__one:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#navbar-responsive .navigation-responsive-left__input {
  padding: 12px;
  max-width: 100%;
  width: 260px;
  outline: none;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 8px;
  border: 1px solid var(--Text-In-Field, #ccc);
  background: url("../../assets/images/home-img/Search.svg") no-repeat;
  background-position: right;
  margin-bottom: 100px;
}

.hero {
  width: 100%;
  min-height: 540px;
  opacity: 0.5;
  background: var(--other-overlay-50, #000);
  margin-top: 129.9px;
  padding-top: 16px;
  padding-bottom: 80px;
}
.hero .container .hero-bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin-top: 40px;
}
.hero .container .hero-bt-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hero .container .hero-bt-btn__description2 {
  padding: 7px 42px;
  border-radius: 8px;
  background: var(--primary-20-pink, #fff5f9);
}
.hero .container .hero-bt-btn__description2 a {
  color: var(--Primary-Pink, #f72585);
  /* Paragraph/Semibold/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.hero .container .hero-bt-btn img {
  position: relative;
  left: -30px;
}
.hero .container .hero-bt-btn__description a {
  color: var(--Other-white, #fff);
  /* Paragraph/Semibold/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  padding: 12px 32px;
  border-radius: 8px;
  background: var(--Primary-Pink, #f72585);
}
.hero .container .hero-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.hero .container .hero-item-img {
  color: var(--Other-white, #fff);
  max-width: 320px;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.hero .container .hero-title {
  color: var(--Text-white, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700;
  line-height: 63.984px;
  max-width: 712px;
}
.hero .container .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .container .hero-content-number {
  color: var(--Text-white, #fff);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.hero .container .hero-content-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  color: var(--Text-Disable, #e6e6e6);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.hero .container .hero-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}
.hero .container .hero-link-a {
  margin-bottom: 44px;
}
.hero .container .hero-link-a a {
  color: var(--Text-Disable, #e6e6e6);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.hero .container .hero-link-a a:hover {
  color: rgb(243, 243, 50);
}

@media (max-width: 500px) {
  .hero .container {
    text-align: center;
  }
}
.learn {
  margin: 96px 0px;
}
.learn .container .learn-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.learn .container .learn-flex-right__card {
  margin-top: 20px;
  max-width: 440px;
  min-height: 921px;
  border-radius: 8px;
  border: 1px solid var(--Text-In-Field, #ccc);
  background: var(--Text-white, #fff);
  padding: 24px 32px 40px 32px;
}
.learn .container .learn-flex-right__card__relative {
  position: relative;
  top: -200px;
  left: 200px;
  cursor: pointer;
}
.learn .container .learn-flex-right__card__btn {
  padding: 24px 40px;
  border-radius: 8px;
  border: 1px solid var(--Primary-Pink, #f72585);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 14px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  margin: 0 auto 24px auto;
  color: var(--Primary-Pink, #f72585);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Medium/H6 - 16px */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.learn .container .learn-flex-right__card__btn:hover {
  background-color: #f72585;
  border: none;
  color: white;
}
.learn .container .learn-flex-right__card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
}
.learn .container .learn-flex-right__card__img__left__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: 12px;
}
.learn .container .learn-flex-right__card__img__left__p__f {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-transform: capitalize;
}
.learn .container .learn-flex-right__card__img__left img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #4e8fdb;
}
.learn .container .learn-flex-right__card__g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.learn .container .learn-flex-right__card__g__p {
  color: var(--Text-Tittle, #1c3554);
  /* Heading/Medium/H5 - 24px */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  max-width: 203px;
}
.learn .container .learn-flex-right__card__g__btn {
  color: var(--Text-white, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H6 - 16px */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  padding: 16px 20px;
  border-radius: 8px;
  background: var(--Other-Red, #ef233c);
}
.learn .container .learn-flex-right__card__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
}
.learn .container .learn-flex-right__card__flex__p {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  text-transform: capitalize;
}
.learn .container .learn-flex-right__card__flex__p2 {
  color: var(--Text-In-Field, #ccc);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Reguler/H5 - 24px */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.learn .container .learn-flex-right__card .imga {
  width: 100%;
  margin-top: 16px;
}
.learn .container .learn-flex-left__b__card {
  padding: 40px 40px;
  max-width: 728px;
  min-height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  border-radius: 8px;
  background: var(--primary-20-pink, #fff5f9);
}
.learn .container .learn-flex-left__b__h {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  text-transform: capitalize;
  max-width: 321px;
  margin-bottom: 40px;
  margin-top: 96px;
}
.learn .container .learn-flex-left__c__h {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  text-transform: capitalize;
  max-width: 556px;
  margin-bottom: 24px;
}
.learn .container .learn-flex-left__c__p {
  color: var(--Text-Body, #808080);
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  max-width: 712px;
}

.lern-flex-left__b__card__l__s__p {
  color: var(--Text-Tittle, #1c3554);
  /* Paragraph/Semibold/Caption - 14px */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 268px;
  margin-bottom: 40px;
}

.lern-flex-left__b__card__l__s__p::before {
  content: "";
  background-image: url("../../assets/images/details-img/check-mark.png");
}

.course .container .course-title {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  text-transform: capitalize;
}
.course .container .course-card {
  padding: 50px 57px 40px 40px;
  max-width: 618px;
  min-height: 328px;
  border-radius: 5px;
  background: var(--primary-20-pink, #fff5f9);
}
.course .container .course-card .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.course .container .course-card .img .course-card__p {
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  max-width: 570px;
}
.course .container .course-card .img img {
  width: 24px;
  height: 24px;
}

.module .container .module-btn {
  padding: 12px 32px;
  background-color: #f72585;
  color: var(--Other-white, #fff);
  width: 58%;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
}
.module .container .module-flex {
  max-width: 746px;
  min-height: 428px;
  padding: 24px 24px 24px 40px;
  background: var(--primary-20-pink, #fff5f9);
}
.module .container .module-flex .module-flex__c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.module .container .module-flex .module-flex__c__p {
  color: var(--Text-Tittle, #1c3554);
  /* Paragraph/Semibold/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.module .container .module-c__card {
  padding: 40px 40px;
  max-width: 728px;
  min-height: 448px;
  border: 1px solid var(--Text-Disable, #e6e6e6);
  background: var(--Other-white, #fff);
}
.module .container .module-c__card__p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.module .container .module-c__card__p__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.module .container .module-c__card__p__flex__p {
  color: var(--Text-Tittle, #1c3554);
  text-align: right;
  /* Paragraph/Semibold/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 200% */
}
.module .container .module-c__card__p__flex__p__right__p {
  color: red;
}
.module .container .module-c__card__p__flex img {
  width: 24px;
  height: 24px;
}
.module .container .module-c {
  padding: 14px 40px;
  background: var(--primary-20-pink, #fff5f9);
  max-width: 729px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.module .container .module-c__p {
  color: var(--Text-Tittle, #1c3554);
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.module .container .module-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 170px;
  margin-top: 96px;
}
.module .container .module-title-h {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  text-transform: capitalize;
}
.module .container .module-title-p {
  color: var(--Text-Tittle, #1c3554);
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.module-c__card__p__right__p {
  color: var(--Text-Body, #808080);
  text-align: right;
  /* Paragraph/Semibold/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@media (max-width: 500px) {
  .module .container .module-btn {
    width: 100%;
  }
}