@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  padding: 36px 0;
  z-index: 100;
}
.header .container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header .container .navigation #navbar-open {
  display: none;
}
.header .container .navigation .navigation-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.header .container .navigation .navigation-right-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.header .container .navigation .navigation-right-btn__btns {
  border-radius: 8px;
  padding: 12px 32px;
  border: 1px solid var(--Text-Tittle, #1c3554);
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.header .container .navigation .navigation-right-btn__btns:hover {
  background-color: #f72585;
  color: #fff;
  border: none;
}
.header .container .navigation .navigation-right-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  position: relative;
}
.header .container .navigation .navigation-right-one:hover .dropdown-menu {
  display: block;
  position: fixed;
}
.header .container .navigation .navigation-right-one .dropdown-menu {
  position: absolute;
  background-color: rgb(228, 124, 124);
  top: 65px;
  display: none;
  width: 200px;
  height: 250px;
}
.header .container .navigation .navigation-right-one .dropdown-menu:hover {
  display: block;
}
.header .container .navigation .navigation-right-one .dropdown-menu-link {
  padding: 10px;
  display: block;
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border-bottom: 1px solid white;
  width: 90%;
}
.header .container .navigation .navigation-right-one .dropdown-menu-link:hover {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .container .navigation .navigation-right-one-link__second__a {
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-weight: 400;
  line-height: 32px;
}
.header .container .navigation .navigation-right-one-link__second__a:hover {
  color: rgb(22, 23, 26);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .container .navigation .navigation-right-one-link__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .navigation .navigation-right-one-link__one__a {
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}
.header .container .navigation .navigation-right-one-link__one__a:hover {
  color: rgb(22, 23, 26);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .container .navigation .navigation-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.header .container .navigation .navigation-left__input {
  padding: 12px;
  width: 443px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--Text-In-Field, #ccc);
  background: url("../../assets/images/home-img/Search.svg") no-repeat;
  background-position: right;
}

@media (max-width: 1250px) {
  .header .container .navigation #navbar-open {
    display: inline-block;
  }
  .header .container .navigation .navigation-left {
    display: none;
  }
  .header .container .navigation .navigation-right {
    display: none;
  }
}
#backtop {
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  background-color: red;
  bottom: -50px;
  right: 50px;
  border-radius: 5px;
}
#backtop a {
  padding: 10px;
  display: block;
}

#backtop.backtop-show {
  bottom: 50px;
  z-index: 100;
}

#navbar-responsive {
  z-index: 900;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  background: url(../../assets/images/bg-2-nav.avif) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#navbar-responsive #navbar-close {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 8px;
  border-radius: 4px;
}
#navbar-responsive #navbar-close img {
  width: 40px;
}
#navbar-responsive #navbar-close:hover {
  background-color: wheat;
}
#navbar-responsive .navigation-responsive-right-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  gap: 12px;
}
#navbar-responsive .navigation-responsive-right-btn__btns {
  border-radius: 8px;
  padding: 12px 32px;
  border: 1px solid var(--Text-Tittle, #1c3554);
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
#navbar-responsive .navigation-responsive-right-btn__btns:hover {
  background-color: #f72585;
  color: #fff;
  border: none;
}
#navbar-responsive .navigation-responsive-right-one-link__second {
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 32px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4e8fdb;
}
#navbar-responsive .navigation-responsive-right-one-link__second a {
  color: white;
}
#navbar-responsive .navigation-responsive-right-one-link__second:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#navbar-responsive .navigation-responsive-right-one-link__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--Text-Tittle, #1c3554);
  font-family: Montserrat;
  font-size: 16px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  line-height: 32px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4e8fdb;
  margin-bottom: 50px;
}
#navbar-responsive .navigation-responsive-right-one-link__one a {
  color: white;
}
#navbar-responsive .navigation-responsive-right-one-link__one:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#navbar-responsive .navigation-responsive-left__input {
  padding: 12px;
  max-width: 100%;
  width: 260px;
  outline: none;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 8px;
  border: 1px solid var(--Text-In-Field, #ccc);
  background: url("../../assets/images/home-img/Search.svg") no-repeat;
  background-position: right;
  margin-bottom: 100px;
}

.main {
  padding-top: 120px;
}
.main .hero {
  border-radius: 8px;
  background: var(--Other-Navy, #021934);
}
.main .hero .container .hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .hero .container .hero-section-right {
  min-height: 680px;
  margin-top: 65px;
  max-width: 529px;
  border-radius: 8px;
  background: var(--Text-Disable, #e6e6e6);
}
.main .hero .container .hero-section-right-card {
  margin-top: 450px;
  margin-left: 300px;
  margin-right: 100px;
  max-width: 184px;
  min-height: 117px;
  text-align: center;
  border-radius: 8px;
  background: var(--Other-white, #fff);
}
.main .hero .container .hero-section-right-card img {
  width: 100%;
}
.main .hero .container .hero-section-right-card-h {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 24px;
  margin-top: 30;
}
.main .hero .container .hero-section-right-card-p {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: -7px;
}
.main .hero .container .hero-section-left-input {
  padding-left: 56px;
  padding-top: 24px;
  max-width: 100%;
  padding-bottom: 24px;
  padding-right: 304px;
  outline: none;
  border-radius: 8px;
  background: url("../../assets/images/home-img/Search.svg") no-repeat;
  background-color: #ffffff;
  background-position: 20px 20px;
  margin-bottom: 58px;
}
.main .hero .container .hero-section-left-advise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  margin-bottom: 90px;
}
.main .hero .container .hero-section-left-advise__s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.main .hero .container .hero-section-left-advise__s__p {
  color: var(--Text-white, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}
.main .hero .container .hero-section-left-title {
  color: var(--Text-white, #fff);
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  max-width: 610px;
}
.main .hero .container .hero-section-left-paragraph {
  color: var(--Text-white, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 647px;
}

.search input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-right: none;
}

.search button {
  padding: 12px 32px;
  border-radius: 8px;
  background: var(--Primary-Pink, #f72585);
}

@media (max-width: 1200px) {
  .main .courses .container .courses-card {
    grid-template-columns: repeat(3, 1fr);
  }
  .main .hero .container .hero-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .hero .container .hero-section .hero-section-right .hero-section-right-card {
    margin-left: 40px;
  }
}
@media (max-width: 1000px) {
  .main .courses .container .courses-link {
    grid-template-columns: repeat(3, 1fr);
  }
  .main .courses .container .courses-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 670px) {
  .main .courses .container .courses-link {
    grid-template-columns: 1fr;
  }
  .main .courses .container .courses-card {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 592px) {
  .main .hero .hero-section .hero-section-left .hero-section-left-title {
    text-align: center;
  }
  .main .hero .hero-section .hero-section-left .hero-section-left-paragraph {
    text-align: center;
  }
  .main .hero .hero-section .hero-section-left .hero-section-left-advise {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.courses .container .courses-btns {
  padding: 16px 44px;
  border-radius: 8px;
  background: var(--Primary-Pink, #f72585);
  color: var(--Text-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.courses .container .courses-btns:hover {
  background-color: white;
  color: #f72585;
  border: 1px solid #f72585;
}
.courses .container .courses-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 49px;
}
.courses .container .courses-card-grid {
  padding: 16px 16px;
  margin-bottom: 24px;
}
.courses .container .courses-card-grid__description {
  margin-bottom: 24px;
  padding: 16px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.courses .container .courses-card-grid__description:hover {
  border-radius: 8px;
  background: var(--Other-white, #fff);
  -webkit-box-shadow: 4px 4px 4px rgb(234, 227, 227);
          box-shadow: 4px 4px 4px rgb(234, 227, 227);
}
.courses .container .courses-card-grid__description__prise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.courses .container .courses-card-grid__description__prise-1 {
  color: var(--Text-In-Field, #ccc);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.courses .container .courses-card-grid__description__prise-2 {
  color: var(--Text-Tittle, #1c3554);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.courses .container .courses-card-grid__description__p {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  max-width: 262.891px;
}
.courses .container .courses-card-grid__description__p2 {
  color: var(--Primary-Pink, #f72585);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  max-width: 262.891px;
}
.courses .container .courses-card-grid__description__p2__span {
  color: var(--Text-Body, #808080);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.courses .container .courses-card-grid__description__btn {
  padding: 8px 24px;
  border-radius: 8px;
  background: var(--Other-Blue, #4586d6);
  position: relative;
  top: -30px;
  color: var(--Text-white, #fff);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 68px;
  z-index: 10;
}
.courses .container .courses-title {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700;
  line-height: 63.984px;
  text-align: center;
  margin-top: 88px;
  margin-bottom: 56px;
}
.courses .container .courses-link {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.courses .container .courses-link-description {
  color: var(--Other-grey, #aaa);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 8px 32px;
  max-width: 167px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 48px;
}
.courses .container .courses-link-description:hover {
  border-radius: 8px;
  background: var(--Primary-Pink, #f72585);
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.courses-card-grid__description__prise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.categories .container .categories-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.categories .container .categories-card__grid__cards {
  padding: 278px 78px 40px 73px;
  border-radius: 8px;
  opacity: 0.5;
  background: var(--other-overlay-50, #000);
  margin-bottom: 20px;
}
.categories .container .categories-card__grid__cards:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 10px 10px 2px #f72585;
          box-shadow: 0 10px 10px 2px #f72585;
}
.categories .container .categories-card__grid__cards__h {
  color: var(--Text-white, #fbd4d4);
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
.categories .container .categories-title {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px;
}

@media (max-width: 1260px) {
  .categories .container .categories-title {
    text-align: center;
  }
  .categories .container .categories-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .categories .container .categories-title {
    text-align: center;
  }
  .categories .container .categories-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .categories .container .categories-card .categories-card__grid__cards {
    text-align: center;
  }
}
@media (max-width: 664px) {
  .categories .container .categories-title {
    text-align: center;
  }
  .categories .container .categories-card {
    grid-template-columns: 1fr;
  }
}
.about {
  margin-top: 200px;
}
.about .container .about-card {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 260px;
  text-align: center;
}
.about .container .about-card__content__description1 {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
}
.about .container .about-card__content__description2 {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

@media (max-width: 600px) {
  .about .container .about-card {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.similar, .mentor .container .mentor-flex__right__p2, .mentor .container .mentor-flex__right__p1 {
  color: var(--Text-Body, #808080);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 565px;
}

.mentor {
  margin-top: 200px;
}
.mentor .container .mentor-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mentor .container .mentor-flex__left img {
  max-width: 100%;
}
.mentor .container .mentor-flex__right__btn {
  padding: 16px 40px;
  border-radius: 8px;
  background: var(--Primary-Pink, #f72585);
  color: var(--Text-white, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.mentor .container .mentor-flex__right__btn:hover {
  background-color: white;
  color: #f72585;
  border: 1px solid #f72585;
}
.mentor .container .mentor-flex__right__title {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px;
  max-width: 454px;
}
.mentor .container .mentor-flex__right__p2 {
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .carousel .container .carousel-grid .carousel-grid-right .carousel-grid-right__h2 {
    margin-right: 100px;
    margin-left: 120px;
  }
  .carousel .container .carousel-grid .carousel-grid-right .carousel-grid-right__h1 {
    text-align: center;
  }
  .mentor .container .mentor-flex__left__btn {
    margin-left: 200px;
  }
  .mentor .container .mentor-flex__right__p1 {
    text-align: center;
  }
  .mentor .container .mentor-flex__right__p2 {
    text-align: center;
  }
  .mentor .container .mentor-flex__right__title {
    text-align: center;
  }
}
.carousel {
  margin-top: 224px;
  margin-bottom: 224px;
}
.carousel .container .carousel-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.carousel .container .carousel-grid-left__img {
  position: relative;
  bottom: -30px;
  right: 350px;
}
.carousel .container .carousel-grid-right__h1 {
  color: var(--Text-Tittle, #1c3554);
  font-family: Rubik;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  max-width: 672px;
}
.carousel .container .carousel-grid-right__h2 {
  color: var(--Text-Tittle, #1c3554);
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  max-width: 222px;
}
.carousel .container .carousel-grid-right__h3 {
  color: var(--Text-Body, #808080);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 336px;
}

.company {
  margin-bottom: 160px;
}
.company .container .company-img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 56px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.company .container .company-img2 img:hover {
  -webkit-box-shadow: 3px 3px 3px bisque;
          box-shadow: 3px 3px 3px bisque;
}
.company .container .company-title {
  margin-right: auto;
  margin-left: auto;
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 48px;
  font-weight: 700;
  line-height: 63.984px;
  margin-bottom: 56px;
  max-width: 492px;
}
.company .container .company-img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 32px;
}
.company .container .company-img1 img:hover {
  -webkit-box-shadow: 3px 3px 3px bisque;
          box-shadow: 3px 3px 3px bisque;
}

@media (max-width: 500px) {
  .company .container .company-img1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.blog .container .blog-title {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px;
}
.blog .container .blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px;
}
.blog .container .blog-card__content {
  padding: 16px 16px;
}
.blog .container .blog-card__content:hover {
  border-radius: 8px;
  background: var(--Text-white, #fff);
  -webkit-box-shadow: 4px 4px 4px rgb(234, 227, 227);
          box-shadow: 4px 4px 4px rgb(234, 227, 227);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blog .container .blog-card__content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.blog .container .blog-card__content-flex__description2 {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  max-width: 368px;
}
.blog .container .blog-card__content-flex__description3 {
  color: var(--Text-Body, #808080);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  max-width: 368px;
}
.blog .container .blog-card__content-flex__description4 {
  color: var(--Primary-Pink, #f72585);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.blog-card__contenr-flex__description {
  color: var(--Text-Body, #808080);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  padding-top: 150px;
}
.footer .container {
  padding: 80px 103px 40px 68px;
  border-radius: 8px;
  background: var(--Other-Navy, #021934);
}
.footer .container .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 132px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .container .footer-section__link {
  margin-bottom: 80px;
}
.footer .container .footer-section__link__a1 {
  margin-bottom: 8px;
}
.footer .container .footer-section__link__a1__link {
  color: var(--Text-white, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.footer .container .footer-section__link__a1__link:hover {
  color: bisque;
}
.footer .container .footer-section__link__a {
  margin-bottom: 24px;
}
.footer .container .footer-section__link__a__link {
  color: var(--Text-white, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.footer .container .footer-section__left__p {
  color: var(--Text-white, #fff);
  max-width: 550px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 150px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-bottom__a1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.footer-bottom__a1__a {
  margin-bottom: 30px;
}
.footer-bottom__a1__a__b {
  color: var(--Text-white, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .footer .container .footer-section .footer-section__left .footer-section__left__p {
    text-align: center;
  }
}