@use "../global.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  .container {
    .bg {
      color: brown;
      margin-top: 200px;
      font-family: Montserrat;
    }
  }
}
